body{
    transition: 1s all ease-in-out;
}
.c{
    text-align: center;
    height: 21em;
}
.n{
    padding: 15px;
}
.s{
height: 20px;
}
.Dark-mode{
background-color: black;
color: green;
}
.Saas{
    transition: 1s all ease-in-out;
}